<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main style=" background-image:url(https://static.mservice.io/jk/momo2020/img/magazine/background-blog-soju-2.svg); padding:50px;">
        <%if(email){%>
        <%if (resend){%>
            <div class="alert alert-danger">Mã nhập vào không hợp lệ, chúng tôi đã gửi lại mã mới cho bạn vui lòng check mail để nhận mã xác thực mới </div>
            <%} else{%>
                <div class="alert alert-danger">Kiểm tra mail để lấy mã xác thực </div>
            <%}%>
            <div style ='max-width:350px; margin: auto'> 
                <form action="/accuracy" method="POST" novalidate>
                    <div class="form-group">
                        <label for="otp">Mã xác thực</label>
                        <input class="form-control"
                            type="text" 
                            name="otp" 
                            id="otp" 
                        >
                    </div>
                    <input type="hidden" name = 'email' value="<%= email %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit">Xác nhận</button>
                 </form>
            </div>
            
             <%}else{%>
                <div class="alert alert-danger">#404 Lỗi truy cập không hợp lệ</div>
                <%}%>
    </main>
<%- include('../includes/end.ejs') %>