<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let project of prods) { %>
                            <article class="card project-item">
                                <header class="card__header">
                                    <h1 class="project__title">
                                        <%= project.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= project.imageUrl %>" alt="<%= project.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="project__price">$
                                        <%= project.target %>
                                    </h2>
                                    <p class="project__description">
                                        <%= project.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-project/<%= project._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-project" method="POST">
                                        <input type="hidden" value="<%= project._id %>" name="projectId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {previousPage:previousPage,page:page,nextPage:nextPage,lastPage:lastPage}) %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>