<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/card.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div>
                    <h2 style="text-align:center; color: #a50064;">C&aacute;c ho&agrave;n cảnh quy&ecirc;n g&oacute;p
                    </h2>

                    <h5 style="text-align:center; color: #747373; font-size: 1rem;">Chung tay quy&ecirc;n g&oacute;p
                        gi&uacute;p đỡ c&aacute;c ho&agrave;n cảnh kh&oacute; khăn tr&ecirc;n khắp cả nước.</h5>
                </div>
                <% if (projs.length> 0) { %>
                    <div class="row" style="max-width:99%; margin:auto; background-color:#fdf2f8; ">
                        <% for (let project of projs) { %>
                            <a href="/project/<%=project._id%>" class="col-12 col-md-6 col-lg-4"
                                style="text-decoration: none;">
                                <div class="card mt-3">
                                    <img class="card-img-top" src="/<%= project.imageUrl %>" alt="Card image cap">
                                    <div class="card-body m-1">
                                        <h5 class="card-title">
                                            <%= project.title %>
                                        </h5>
                                        <div class="m-1">
                                            <p><span style="color:rgb(64, 64, 64); font-weight: bolder;">
                                                    <%= project.totalAmountRaised.toLocaleString('vi', {style
                                                        : 'currency' , currency : 'VND' })%>
                                                </span><span style="color:rgb(115, 115, 115);">/
                                                    <%= project.target.toLocaleString('vi', {style : 'currency' ,
                                                        currency : 'VND' })%>
                                                </span></p>
                                        </div>

                                        <div class="m-1"
                                            style="width:100%; height: 0.2rem; background-color: #b2bdc6d5; border-radius:0.2em;">
                                            <div
                                                style=" width: <%= (project.totalAmountRaised/project.target*100).toString() %>%; height: 0.2rem;  <% if(project.totalAmountRaised/project.target*100 >=100) {%> background-color: #7eb54a ;<%}else{%>background-color: #a50064;<%}%>; border-radius:0.2em;">
                                            </div>
                                        </div>
                                        <div class="row m-1" style="margin: auto;">
                                            <div style="margin: auto;">
                                                <p style="font-size: 0.6rem; color: #b2bdc6d5; margin-bottom:0rem;">Lượt
                                                    quyên góp</p>
                                                <p style="color: rgba(82,82,82,1) ;">
                                                    <%=new Intl.NumberFormat().format(project.luotQuyengop) %>
                                                </p>
                                            </div>
                                            <div style="margin: auto;">
                                                <p style="font-size: 0.6rem; color: #b2bdc6d5; margin-bottom:0rem;">Đạt
                                                    được</p>
                                                <p style="color: rgba(82,82,82,1);">
                                                    <%= new
                                                        Intl.NumberFormat().format((project.totalAmountRaised/project.target*100))%>
                                                        %
                                                </p>
                                            </div>
                                            <%if(project.status=='stop'){%>
                                                <div class="btn btn-primary"
                                                    style=" margin: auto; color: #f8f9fa; background-color:#f5f8f2 !important; border-color: #6e706d!important; color:#6e706d; border-radius:5em;">
                                                    Ngưng nhận tiền
                                                </div>
                                                <%}else if(project.totalAmountRaised/project.target*100>=100) {%>
                                                    <div class="btn btn-primary"
                                                        style=" margin: auto; color: #f8f9fa; background-color:#f5f8f2 !important; border-color: #6e706d!important; color:#6e706d; border-radius:5em;">
                                                        Đạt Mục tiêu</div>
                                                    <%}else if(project.startDate> new Date()){%>
                                                        <div class="btn btn-primary"
                                                            style="margin: auto; background-color:#ffe8df !important; color: #fb923c !important; border-color: #fb923c!important;;border-radius:5rem;">
                                                            Coming soon</div>
                                                        <%}else{%>
                                                            <div style="margin: auto;">
                                                                <button class="btn btn-primary"
                                                                    style="color: #a50064; background-color: #f8f9fa; border-color: #a50064;; font-size: 0.7rem;  font-weight: 700;">
                                                                    Quyên góp</button>
                                                            </div>
                                                            <%}%>

                                        </div>


                                    </div>
                                    <div class="card-footer">
                                        <%if(project.status=='stop' ){%>
                                            <small class="text-muted">finished</small>
                                            <%}else if(project.startDate> new Date()){%>
                                                <small class="text-muted">coming soon</small>
                                                <%}else if (project.totalAmountRaised>= project.target){%>
                                                    <small class="text-muted">Đạt mục tiêu</small>
                                                    <%} else if(project.startDate <=new Date()){%>
                                                        <small class="text-muted"
                                                            style="background-color:#ffe8df;border-radius:3rem; color: #fb923c !important; padding:0.1rem;">
                                                            còn <%= Math.floor((project.endDate.valueOf() - new
                                                                Date().valueOf())/86400000)%> ngày</small>
                                                        <%}else{%>
                                                            <small class="text-muted">finished</small>
                                                            <%}%>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs',
                        {previousPage:previousPage,page:page,nextPage:nextPage,lastPage:lastPage}) %>

                        <% } else { %>
                            <h1>No Project Found!</h1>
                            <% } %>
                                <div style="background-color:#ffffff;">
                                <div class="col-10 col-md-8 " style="margin: auto; margin-bottom:0rem; padding-top: 5rem ;">
                                    <h2 style="text-align:center; color:#a50064; margin-top: 1rem; padding-bottom:3rem;">Khi thiện nguyện l&agrave; nguồn hạnh
                                        ph&uacute;c</h2>
                                    <div class="collapse collapse-text" id="collapseExample">
                                        <div>
                                            <p style="text-align:justify">L&agrave;m việc thiện kh&ocirc;ng chỉ
                                                l&agrave; sự cho
                                                đi, sự sẻ chia gi&aacute; trị m&agrave; c&ograve;n gi&uacute;p mỗi người
                                                nhận về
                                                niềm vui, cảm x&uacute;c t&iacute;ch cực, &yacute; nghĩa. Với t&ocirc;n
                                                chỉ
                                                &ldquo;người d&ugrave;ng hạnh ph&uacute;c&rdquo;,&nbsp;MoMo&nbsp;quyết
                                                định khai
                                                th&aacute;c &ldquo;nguồn hạnh ph&uacute;c&rdquo; đầy &yacute; nghĩa
                                                l&agrave;
                                                hoạt động thiện nguyện.</p>
                                            <p style="text-align:justify">Đời sống x&atilde; hội ng&agrave;y c&agrave;ng
                                                được n&acirc;ng cao cũng l&agrave; l&uacute;c người ta ph&aacute;t sinh
                                                nhu cầu muốn được chia sẻ, được đ&oacute;ng g&oacute;p cho x&atilde;
                                                hội, gi&uacute;p đỡ những cộng đồng yếu thế, những ho&agrave;n cảnh
                                                kh&oacute; khăn.</p>

                                            <p style="text-align:justify" class="collapseText">C&oacute; sẵn ưu thế nền
                                                tảng&nbsp;c&ocirc;ng
                                                nghệ cao, hướng tới sự thuận tiện v&agrave; minh bạch, Tr&aacute;i tim
                                                MoMo li&ecirc;n kết với những quỹ thiện nguyện, những dự &aacute;n cộng
                                                đồng, trở th&agrave;nh cầu nối cho c&aacute;c nh&agrave; hảo t&acirc;m.
                                            </p>

                                            <p style="text-align:justify">Việc quy&ecirc;n g&oacute;p tiền từ thiện trở
                                                n&ecirc;n đơn giản, chỉ g&oacute;i gọn trong v&agrave;i thao t&aacute;c
                                                nhỏ tr&ecirc;n điện thoại th&ocirc;ng minh. C&aacute;c th&ocirc;ng tin
                                                về đ&oacute;ng g&oacute;p, t&agrave;i trợ được c&ocirc;ng khai v&agrave;
                                                cập nhật li&ecirc;n tục, người d&ugrave;ng c&oacute; thể dễ d&agrave;ng
                                                tra cứu.</p>

                                            <p style="text-align:justify">Từ đ&oacute;, những dự &aacute;n đầy &yacute;
                                                nghĩa như Sức mạnh 2000; Quỹ Hy Vọng; Hoa Chia Sẻ&hellip; nhận được
                                                th&ecirc;m nhiều nguồn lực đ&oacute;ng g&oacute;p.</p>

                                            <p style="text-align:justify">Một trong những dự &aacute;n thiện nguyện nổi
                                                bật được li&ecirc;n kết với V&iacute; MoMo phải kể đến Sức mạnh 2000, dự
                                                &aacute;n quy&ecirc;n g&oacute;p tiền x&acirc;y trường học v&ugrave;ng
                                                cao với &yacute; tưởng &ldquo;xin&rdquo; nh&agrave; hảo t&acirc;m 2.000
                                                đồng mỗi ng&agrave;y.</p>

                                            <p style="text-align:justify">Anh Ho&agrave;ng Hoa Trung, đại diện dự
                                                &aacute;n từng nhận x&eacute;t, MoMo l&agrave; nền tảng ph&ugrave; hợp
                                                nhất bởi &ldquo;chẳng c&oacute; hệ thống n&agrave;o kh&aacute;c
                                                gi&uacute;p tự trừ 2.000 đồng mỗi ng&agrave;y&rdquo;.</p>

                                            <p style="text-align:justify">Tầm nh&igrave;n của dự &aacute;n Sức mạnh 2000
                                                cũng tương đồng với th&ocirc;ng điệp về thiện nguyện của MoMo l&agrave;
                                                &ldquo;một ng&agrave;n đồng cũng đ&aacute;ng qu&yacute;&rdquo;. Với mức
                                                quy&ecirc;n g&oacute;p tối thiểu 1.000 đồng, người d&ugrave;ng MoMo
                                                c&oacute; thể tận dụng tiền lẻ sau mỗi lần giao dịch để l&agrave;m từ
                                                thiện, chỉ l&agrave; số tiền nhỏ nhưng đem lại những gi&aacute; trị lớn
                                                lao, cao cả.</p>

                                            <p style="text-align:justify">Đối với t&iacute;nh năng Heo đất MoMo, người
                                                d&ugrave;ng nhận được Heo v&agrave;ng sau mỗi lần giao dịch, chuyển tiền
                                                hoặc những hoạt động như đi bộ, dậy sớm, giải c&acirc;u đố, tương
                                                t&aacute;c với bạn b&egrave;&hellip; Heo V&agrave;ng được quy đổi
                                                th&agrave;nh tiền v&agrave; quy&ecirc;n g&oacute;p v&agrave;o c&aacute;c
                                                dự &aacute;n thiện nguyện.</p>

                                            <p style="text-align:justify">Ngoại trừ chi ph&iacute; chuyển khoản
                                                ng&acirc;n h&agrave;ng, 100% số tiền quy&ecirc;n g&oacute;p được từ Heo
                                                đất MoMo được chuyển tới c&aacute;c tổ chức bảo trợ, tổ chức từ thiện.
                                                Trong trường hợp g&acirc;y quỹ kh&ocirc;ng th&agrave;nh c&ocirc;ng
                                                (kh&ocirc;ng đủ số Heo v&agrave;ng), MoMo vẫn chuyển số tiền tương ứng
                                                với số Heo v&agrave;ng đ&atilde; nhận được hoặc c&oacute; thể gia hạn
                                                thời gian g&acirc;y quỹ.</p>

                                            <p style="text-align:justify">Ra mắt từ th&aacute;ng 9/2019, những
                                                ch&uacute; Heo V&agrave;ng đ&atilde; đồng h&agrave;nh c&ugrave;ng nhiều
                                                nh&agrave; t&agrave;i trợ, quy&ecirc;n g&oacute;p được hơn 45 tỷ đồng
                                                tiền mặt v&agrave; hơn 520 triệu Heo V&agrave;ng (t&iacute;nh đến
                                                th&aacute;ng 6/2022, trung b&igrave;nh 1 Heo V&agrave;ng trị gi&aacute;
                                                140đ), hỗ trợ cho hơn&nbsp;94 ngh&igrave;n em nhỏ c&oacute; ho&agrave;n
                                                cảnh kh&oacute; khăn, gi&uacute;p c&aacute;c em được ăn no, được đến
                                                trường.</p>

                                            <p style="text-align:justify">&ldquo;Ngo&agrave;i số tiền quy đổi, &yacute;
                                                nghĩa của Heo đất MoMo c&ograve;n nằm ở th&ocirc;ng điệp: thiện nguyện
                                                kh&ocirc;ng phải l&agrave; điều g&igrave; to t&aacute;t, m&agrave; chỉ
                                                l&agrave; c&ocirc;ng việc h&agrave;ng ng&agrave;y, ai ai cũng c&oacute;
                                                thể g&oacute;p sức, d&ugrave; chỉ bằng việc đi bộ, dậy sớm, c&oacute;
                                                lối sống l&agrave;nh mạnh. Những điều nhỏ b&eacute; đ&oacute;
                                                kh&ocirc;ng chỉ c&ugrave;ng nhau tạo n&ecirc;n sự thay đổi vĩ đại cho
                                                cộng đồng, m&agrave; c&ograve;n l&agrave; nguồn cảm hứng sống
                                                t&iacute;ch cực cho mỗi người d&ugrave;ng V&iacute; MoMo&rdquo;,
                                                &ocirc;ng Diệp chia sẻ.</p>



                                        </div>
                                    </div>
                                    <div class="col-3" style="margin:auto;">
                                        <button class="btn btn-link btn-seemore m-1" type="button"
                                            data-toggle="collapse" id="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample"
                                            style="width: 100%; text-decoration: none;" value="0">
                                            Xem thêm
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </button>
                                    </div>


                                </div>
                            </div>
            </main>
            <script src="/js/index.js"></script>
            <%- include('../includes/end.ejs') %>