<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main class="m-1">
                <%if(errorMessage){%>
                <div class="alert alert-danger">
                    <%= errorMessage %>
                </div>
                <%}%>
                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %>
                    </div>
                    <% } %>
                <div style="max-width: 95%; margin: auto">
                    <div class="row col-12 col-lg-10" style="margin: auto;">
                        <div class="image m-1 col-12 col-md-5 col-lg-3" style="margin: auto;">
                            <img src="/images/Avatar.jpg" class="img-fluid img-thumbnail" alt="<%user.name%>"
                                style="border-radius: 50%; max-width: 200px;">
                        </div>
                        <div class="m-1 col-12 col-md-5 col-lg-7" style="margin: auto;">
                            <p> Tên : <%= user.name%>
                            </p>
                            <p> Email: <%=user.email%>
                            </p>
                            <p>Tình trạng: <%=user.status%>
                            </p>
                            <p>Lượt quyên góp: 10 (lượt)</p>
                            <p>Tổng số tiền đã quyên góp: </p>
                            <button type="button" class="btn" style="border-color:#a50064; color:#a50064; background-color:#FFFFFF; border: radius 2rem !important;" data-bs-toggle="modal"
                                data-bs-target="#changePass"> Đổi mật khẩu </button>
                        </div>
                    </div>
                    <div class="modal fade" id="changePass" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Đổi mật khẩu</h5>
                                    <button type="button" class="btn close" data-bs-dismiss="modal"
                                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/changepass" method="POST" style="max-width: 300px; margin:auto">
                                        <div class="form-group">
                                            <label for="pass">Mật khẩu hiện tại</label>
                                            <input type="password" name="pass" id="pass" class="<%= validationErrors.find(e => e.param === 'pass') ? 'form-control invalid' : 'form-control' %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Mật khẩu mới</label>
                                            <input type="password" name="password" id="pass" class="<%= validationErrors.find(e => e.param === 'password') ? 'form-control invalid' : 'form-control' %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword">Nhập lại mật khẩu mới</label>
                                            <input type="password" name="confirmPassword" id="confirmPassword" class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'form-control invalid' : 'form-control' %>">
                                        </div>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit" class="btn btn-primary" style="margin:auto;" data-bs-dismiss="modal">Xác
                                            nhận đổi mật khẩu</button>
                                        </form>

                                        
                                </div>
                                <div class="modal-footer">
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>